body {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    margin: 0 0 0 0;
}

.active {
    background-color: red;
    color: white;
}

.free{
    background-color: green;
    color: black;
}

.state {
    font-size: 13em;
}

.motion {
    font-size: 5em;
}