<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js', version=timestamp) }}"></script>
    
    <title>Foosball table status</title>
</head>
<body>
    <div id="main" class="container">
        <div class="state">
            Table is now <span id="state"></span>.
        </div>
        <div class="motion">
            Last motion registered <span id="motion"></span> seconds ago.
        </div>
    </div>
</body>
</html>